
<app-title 
        title="Welcome!" 
        paragraph="Cras ut viverra eros. 
        Phasellus sollicitudin sapien id luctus tempor. 
        Sed hend rerit inter dum sagittis. 
        Donec nunc lacus, dapibus nec interdum eget, ultrices eget justo. 
        Nam purus lacus, efficitur eget laoreet sed, finibus nec neque. 
        Cras eget enim in diam dapibus sagittis. In massa est, 
        dignissim in libero ac, fringilla ornare mi. 
        Etiam interdum ligula purus.">
</app-title> 

<app-half-image-half-text 
        [imageLeft]="true"
        src="assets/images/pic1.jpg" 
        title="Our Mission" 
        body="Cras ut viverra eros. 
        Phasellus sollicitudin sapien id luctus tempor. 
        Sed hend rerit inter dum sagittis. Donec nunc lacus, 
        dapibus nec interdum eget, ultrices eget justo. 
        Nam purus lacus, efficitur eget laoreet sed, 
        finibus nec neque. Cras eget enim in diam dapibus 
        sagittis. In massa est, dignissim in libero ac, 
        fringilla ornare mi.">
</app-half-image-half-text>

<app-half-image-half-text-points
        [imageLeft]="false"
        src="assets/images/meat.jpg" 
        title="Our Specialties" >
</app-half-image-half-text-points>

<app-half-image-half-text-contact
        [imageLeft]="true"
        src="assets/images/pic1.jpg" 
        title="Contact Us" 
        phone="+1 224 6787 004"
        hqLocation="28 Seventh Avenue, Neew York, 10014"
        email="support@restaurant.com"
        logoSrc="assets/images/S4small.PNG">
</app-half-image-half-text-contact>


