


@media screen and (min-width: 910px){
    h1,h2,h3{
        font-size: 24pt;
    }
    p{
        font-size: 16pt;
    }
}
@media screen and (max-width: 910px){
    h1{
        font-size: 18pt;
    }
    p{
        font-size: 16pt;
    }
}

@media screen and (min-width: 910px){
    h1,h2,h3{
        font-size: 18pt;
    }
    p{
        font-size: 16pt;
    }
}
@media screen and (max-width: 910px){
    h3{
        font-size: 12pt;
    }
    p{
        font-size: 10pt;
    }
}

@media screen and (max-width: 800px){
    h3{
        font-size: 10pt;
    }
    p{
        font-size: 9pt;
    }
}

