/* You can add global styles to this file, and also import other style files */

*{
    font-family: "Dancing Script";
}

body{
    background-color: #2B2B2B;
    color: #D6C178;
}

a, .nav-link{
    color: #D6C178;
}

a:hover, .nav-link:hover{
    color: #ffffff;
}

